.select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--color-white-five);
    color: var(--color-black);
    border-radius: 0.5rem;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    font-size: 2.8rem;
    transition: var(--transition);
}

.select-container:hover{
    background-color: var(--color-white-seven);
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.success-message{
    color: var(--color-green);
    font-size: 1rem;
    margin-top: 1rem;
}

.error-message{
    color: var(--color-red);
    font-size: 1rem;
    margin-top: 1rem;
}